step_function_config.json
{
  "Comment": "A description of my state machine",
  "StartAt": "StartflightS3RawCrawler",
  "States": {
    "StartflightS3RawCrawler": {
      "Type": "Task",
      "Arguments": {
        "Name": "daily_raw_flights_crawler"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Next": "Getcrawlerstatus"
    },
    "Getcrawlerstatus": {
      "Type": "Task",
      "Arguments": {
        "Name": "daily_raw_flights_crawler"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
      "Output": {
        "CrawlerState": "{% $states.result.Crawler.State %}"
      },
      "Next": "Checkandwait"
    },
    "Checkandwait": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Waitifrunning",
          "Condition": "{% $states.input.CrawlerState = 'RUNNING'%}"
        }
      ],
      "Default": "Triggergluejob"
    },
    "Waitifrunning": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "Getcrawlerstatus"
    },
    "Triggergluejob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Arguments": {
        "JobName": "glue_etl_job"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "Gluejobfailednotification"
        }
      ],
      "Next": "Gluejobsuccessnotification"
    },
    "Gluejobsuccessnotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "arn:aws:sns:eu-north-1:203918882713:test_sns_v1",
        "Message": {
          "Job": "Airline Data Processing Glue Job",
          "Status": "Success"
        }
      },
      "End": true
    },
    "Gluejobfailednotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "arn:aws:sns:eu-north-1:203918882713:test_sns_v1",
        "Message": {
          "Job": "Airline Data Processing Glue Job",
          "Status": "Failed",
          "Error": "{% $states %}"
        }
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}